{% extends 'base.html' %}

{% block content %}
    <p>{{user_name[0]}}さん</p>
    <p>{{today.year}}年{{today.month}}月{{today.day}}日</p>
    <p>今日はお元気ですか？</p>

    <ul class="yes_no_btn">
        <form action ="/maru" method="post">
        <li class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons"><input type="submit">radio_button_unchecked</i></li>
        </form>
        <form action ="/batu" method="POST">
        <li class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons"><input type="submit">close</i></li>
        </form>
    </ul>
{% endblock %}



<!-- 
<ul class="yes_no_btn">
    <li class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons"><form action="/maru" method="post"><input type = "submit"> radio</form></i></li>
    <li class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons"><a href="/hospital" class="link">close</a></i></li> -->
<!-- </ul> -->